@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-ExtraLight.eot");
  src: local("☺"), url("../fonts/TTNorms-ExtraLight.woff") format("woff"),
    url("../fonts/TTNorms-ExtraLight.ttf") format("truetype"),
    url("../fonts/TTNorms-ExtraLight.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TTNorms", sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
}
section:nth-of-type(odd) {
  background-color: #025570;
}
.header {
  order: 1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url(../source/aff1_promo_header.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.header::before {
  position: absolute;
  content: "";
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}
.header-title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  white-space: nowrap;
}
.header__text p {
  text-align: center;
  font-weight: 400;
}
.header-description {
  line-height: 1.5;
  max-width: 410px;
  margin: 0 auto 35px;
  font-size: 18px;
  color: #fff;
}

.btn {
  cursor: pointer;
  padding: 3px 20px 3px;
  border-radius: 3px;
  border: 1px solid;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.forma button {
  padding: 12px 20px 16px;
}
.sign-up-btn {
  border-color: #00be2b;
  background-color: #00be2b;
}

.login-btn {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #00be2b;
}

.sign-up-btn:hover {
  border-color: #035215;
  background-color: #035215;
}

.login-btn:hover {
  background-color: #035215;
}

.header__text button:first-of-type {
  margin-right: 15px;
}

#header .arrow_down {
  width: 25px;
  height: 52px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-image: url(../source/arrow_down_scroll.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.aff1-navbar {
  left: 0;
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
}
.navbar-container {
  display: flex;
  justify-content: space-around;
  flex: 0 1 100vw;
}

.navbar-logo {
  flex: 0 1 10%;
  display: flex;
  justify-content: flex-end;
}
.aff1_logo {
  height: 100%;
  width: 114px;
  background-image: url(../source/aff1_logo_white.png);
  background-position: 50% 50%;
  background-size: 116px;
  background-repeat: no-repeat;
}
#navbar {
  margin: 0 !important;
  flex: 0 1 50%;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
a {
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
li:hover {
  background-color: rgba(255, 249, 249, 0.1);
  border-bottom-color: rgb(255, 249, 249);
  border-bottom: 4px solid rgb(255, 249, 249);
}
li {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.2s;
}
.navbar-button-container {
  flex: 0 1 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang {
  font-size: 20px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caret {
  margin-left: 3px;
  margin-top: 8px;
  border: 6px solid transparent;
  border-top: 6px solid white;
}
.enter {
  font-size: 15px;
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  height: 50%;
}
.lang:hover,
.enter:hover {
  color: rgb(226, 200, 200);
}
.burger {
  display: none;
  align-self: center;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-6px);
}

.menu-btn-burger::after {
  transform: translateY(6px);
}
.menu-btn-burger:active {
  transform: translate(-50px);
  background: transparent;
}

.menu-btn-burger:active::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn-burger:active::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.footer {
  order: 6;
  /*background-color: #f6f9fa;*/
  padding: 81px 0 80px;
}
.footer__container {
  display: flex;
  justify-content: center;
}
.footer__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 40%;
}

.footer__image img {
  /*height: 357px;*/
  object-fit: cover;
}
.footer__info {
  padding-left: 15px;
  flex: 1 1 20%;
  display: block;
}
.info__logo {
  display: inline-block;
  width: 100%;
}
.info__logo img {
  height: 45px;
}
.info__text {
  display: inline-block;
}

.info__text span {
  line-height: 1.4;
  font-size: 20px;
  letter-spacing: -0.2px;
  color: #000;
  font-weight: 300;
}
.partnership {
  display: inline-block;
  margin-top: 37px;
}
.technical-support {
  margin-top: 5px;
  display: inline-block;
}
.info__icons {
  display: flex;
  margin-top: 37px;
  margin-left: 3px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6c6c6c;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-decoration: none;
  margin-left: 5px;
}
.icon:first-of-type {
  margin-left: 0;
}
.info__copyright {
  display: inline-block;
}
.copy {
  margin-top: 37px;
}
.adress {
  margin-top: 10px;
  line-height: 1.4;
}
.info__copyright p {
  text-align: left;
  font-size: 18px;
}

.policy-private {
  font-size: 15px;
  margin-top: 12px;
  display: inline-block;
  letter-spacing: -0.1px;
  color: #000;
  font-weight: 300;
  text-decoration: underline;
  text-transform: none;
}
.about {
  order: 5;
  display: flex;
  justify-content: center;
  padding: 85px 0 105px;
}
.about__container,
.publisher__container,
.advertiser__container,
.offers__container {
  width: calc(100% - 60px);
  padding: 0 60px;
  margin: auto;
}
.title {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  display: block;
  padding: 50px;
  font-size: 42px;
  color: #2acd73;
  margin-bottom: 30px;
}
.title::before {
  content: "";
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 3px;
  background: #30cd73;
}
.about__description {
  text-align: center;
  display: block;
  text-align-last: center;
  font-size: 17px;
  margin: 40px auto 0;
  color: #a7afb8;
  font-weight: 500;
  line-height: 1.4;
}
.publisher {
  order: 3;
  padding: 85px 0 30px;
  display: block;
  margin: auto;
}
.affiliate {
  order: 4;
  padding: 85px 0 30px;
  display: block;
  margin: auto;
}

.grid {
  padding: 0 10px;
  display: grid;
  justify-content: space-around;
  justify-items: center;
  /*grid-template-rows: repeat(auto-fit, minmax(300px,1fr));*/
  grid-template-columns: repeat(auto-fit, minmax(330px, auto));
  grid-auto-rows: 1fr;
  gap: 60px 30px;
}
/*.publisher__grid {
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
}
.advertiser__grid {
  grid-template-areas:
    "card7 card8 card9"
    "card10 card11 card12";
}

.a {
  grid-area: card1;
}
.b {
  grid-area: card2;
}
.c {
  grid-area: card3;
}
.d {
  grid-area: card4;
}
.e {
  grid-area: card5;
}
.f {
  grid-area: card6;
}

.i {
  grid-area: card7;
}
.k {
  grid-area: card8;
}
.l {
  grid-area: card9;
}
.m {
  grid-area: card10;
}
.n {
  grid-area: card11;
}
.o {
  grid-area: card12;
}*/

.grid__icons {
  width: 100%;
  display: block;
  text-align: center;
}
.grid__icons h3 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 7px;
}

.grid__icons p {
  font-weight: 400;
  font-size: 15px;
  color: #a7afb8;
  margin: 0 0 10px;
}
.grid__button {
  margin-top: 40px;
  display: block;
  text-align: center;
}
.grid-reg {
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  background: #ff0049;
  border-color: #ff0049;
  color: #fff;
}
.offers {
  order: 2;
  padding: 85px 0 30px;
  display: block;
  margin: auto;
}
.offers__flexblock {
  display: flex;
  justify-content: space-evenly;
  margin-top: 38px;
  flex-wrap: wrap;
}

.flipbox {
  width: 220px;
  height: 343px;
  border-radius: 5px;
  text-align: center;
  margin-right: 9px;
  margin-left: 8.5px;

  flex-shrink: 0;
  margin-top: 18px;
  position: relative;
  perspective: 1000px;
}

.front,
.back {
  padding: 0 5px 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.flipbox p {
  font-size: 16px;
  color: #fff;
  margin-top: 22px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  height: 63px;
  font-weight: 600;
}
.flipbox h3 {
  font-size: 22px;
  margin-top: 66px;
  font-weight: 600;
  color: #fff;
}
.flipbox img {
  margin-top: 33px;
}

.text {
  font-size: 17px;
  text-align: center;
  margin: 40px auto 0;
  color: #a7afb8;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.back {
  justify-content: center;
}

.back h2 {
  font-size: 22px;

  font-weight: 600;
  color: #fff;
}

.flipbox:nth-child(1) > .front,
.flipbox:nth-child(1) > .back {
  background: #a76990;
}

.flipbox:nth-child(2) > .front,
.flipbox:nth-child(2) > .back {
  background: #ff0049;
}

.flipbox:nth-child(3) > .front,
.flipbox:nth-child(3) > .back {
  background: #4a9ed2;
}

.flipbox:nth-child(4) > .front,
.flipbox:nth-child(4) > .back {
  background: #17ba9d;
}
.back {
  transform: rotateY(180deg);
}
.flipbox:hover .front {
  transform: rotateY(180deg);
}
.flipbox:hover .back {
  transform: rotateY(360deg);
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) {
  .navbar-container {
    width: 970px;
  }
  .footer__container {
    justify-content: start;
    margin-left: 10px;
  }
  .navbar-button-container {
    flex: 0 1;
  }
  #navbar {
    flex: 0 1;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .navbar-container {
    flex: 1 1;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  #navbar,
  .navbar-button-container {
    display: none;
  }

  .burger {
    flex: 0 1;
    display: flex;
  }
  .footer__image {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-container {
    flex: 1 1;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  #navbar,
  .navbar-button-container {
    display: none;
  }

  .burger {
    flex: 0 1;
    display: flex;
  }
  .footer__image {
    display: none;
  }
}
